.stade {
    position: relative;
}

.stade .p1 {
    background-color: yellow;
    height: 3vw;
    width: 3vw;
    margin: 28% 5%;
    position: absolute;
}

.stade .p2 {
    background-color: red;
    height: 3vw;
    width: 3vw;
    margin: 8% 20%;
    position: absolute;
}

.stade .p3 {
    background-color: red;
    height: 3vw;
    width: 3vw;
    margin: 20% 17%;
    position: absolute;
}

.stade .p4 {
    background-color: red;
    height: 3vw;
    width: 3vw;
    margin: 36% 17%;
    position: absolute;
}

.stade .p5 {
    background-color: red;
    height: 3vw;
    width: 3vw;
    margin: 48% 20%;
    position: absolute;
}

.stade .p6 {
    background-color: blue;
    height: 3vw;
    width: 3vw;
    margin: 28% 30%;
    position: absolute;
}

.stade .p7 {
    background-color: pink;
    height: 3vw;
    width: 3vw;
    margin: 8% 40%;
    position: absolute;
}

.stade .p8 {
    background-color: pink;
    height: 3vw;
    width: 3vw;
    margin: 28% 43%;
    position: absolute;
}

.stade .p9 {
    background-color: pink;
    height: 3vw;
    width: 3vw;
    margin: 48% 40%;
    position: absolute;
}

.stade .p10 {
    background-color: orange;
    height: 3vw;
    width: 3vw;
    margin: 15% 60%;
    position: absolute;
}

.stade .p11 {
    background-color: orange;
    height: 3vw;
    width: 3vw;
    margin: 43% 60%;
    position: absolute;
}