body {}

.container {
    max-width: 1300px;
}

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    min-height: 570px;
    width: 100%;
}

.topLogo {
    height: 150px;
}

.active {
    color: #a32424 !important;
}

@media (max-width: 769px) {
    .socialLink {
        display: none;
    }
}

.socialLink ul li {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px;
    font-size: 2rem;
    color: #fff;
}

.socialLink ul li:hover {
    color: #a32424;
    border: 2px solid #a32424;
}

.searchBar {
    border: 1px solid #a32424;
}

.fa-search {
    height: 38px;
    width: 60px;
    margin-left: -5px;
}

.sepparator {
    min-height: 50px;
    width: 100%;
    background-color: #095796;
}

.actu {
    text-align: center;
    background-color: rgba(0, 0, 0, 50%);
    margin-bottom: 50px;
    padding: 5px;
}

.actu ul li {
    display: inline;
}

.actuTitle {
    color: #edcd15;
    font-weight: bold;
    font-size: 6rem;
}

.actuSubTitle {
    color: #fff;
}

.otherNews {
    color: #fff;
    font-size: 20px;
}

.fa-newspaper {
    color: #ffd900;
}

.contentMain {
    min-height: 450px;
}

.currentVersus {
    background-color: #a32424;
    padding: 50px 100px;
    text-align: center;
}

.nextMatch {
    background-image: url('../images/stadium.jpg');
    background-size: cover;
    background-color: #0b1d38;
    padding: 50px 100px;
    text-align: center;
}

.nextMatchContent {
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
}

.nextMatchContent span {
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    text-decoration: underline;
}

.versus {
    color: #fff;
    font-size: 8rem;
    font-weight: bold;
}

.timerToNext {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}

.teamsToNext {
    display: inline;
}

.currentVersus span {
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    text-decoration: underline;
}

.currentTeams {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #007b5e !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}


/* Team list */

.teamList {
    background-color: #1f1f1f;
    min-height: 400px;
}

.teamIcon img {
    height: 70px;
}

.fa-external-link-alt {
    color: #fff;
    font-size: 2rem;
}

.fa-external-link-alt:hover {
    color: #a32424;
    font-size: 2rem;
}

.currentTeam {
    min-height: 250px;
}

.accordion .card-header {
    background-color: #333333 !important;
}

.currentTeam {
    background-color: #363636;
}

.currentLogoContainer {
    background-color: #1f1f1f;
    color: #fff;
}

.currentTeam a {
    color: #facd07 !important;
}

.coachList {
    text-align: center;
    border: 6px solid #1f1f1f;
}

.currentPhotoContainer {
    background-color: #1f1f1f;
    padding: 25px;
    color: #fff;
}